
<html>  
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/smartpromo.js"></script>
</head>
<body>
    <div id="popup" style="display: none;">
        <div class="content-popup">
            <div class="close"><a href="#" id="close"><img src="img/close.png"/></a></div>
            <div class="info-popup">
                
                <div style="float:left; width:100%;">
            </div>
            </div>
        </div>
    </div>
    <div class="popup-overlay"></div>
</body>
</html>